@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "تایید ایمیل";
}


<div style="text-align:center;font-family:IRANYekan,sans-serif;">
    <h4>
        با تشکر از تایید ایمیل توسط شما
    </h4>
</div>
