@page
@model LoginModel

@{
    ViewData["Title"] = "ورود به حساب کاربری";
}
<html>
<head>
    <style>
        #loginpanel{
            
          width:35%;
            height:500px;
            margin-left:30%;
            background-color:lavender;

        }
        .row {
            text-align: center;
            font-family: IRANYekan,sans-serif;
        }
        h4{
            font-family:IRANYekan,sans-serif;
            text-align:center;
        }
        #ppp1{
            border-bottom:2px solid white;
        }
    </style>
</head>
<body>
   
    <div class="container row" id="loginpanel" dir="rtl">
        <div class="col-md-12" style="float:right;text-align:right;">
            <section>
                <form id="account" method="post">
                    <h4>ورود به حساب کاربری</h4>
                    <br/>
                    <p id="ppp1"></p>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email">ایمیل</label>
                        <input  asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password">رمز عبور</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                مرا به خاطر بسپار!
                            </label>
                        </div>
                    </div>
                    <div class="form-group" style="margin-right:38%;">
                        <button type="submit" class="btn btn-primary" style="background-color:rgb(35, 102, 214);" >ورود کاربر </button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword" class="btn-link" style="text-decoration:none;">رمز عبور خود را فراموش کرده اید؟</a>
                        </p>
                        <p>کاربر جدید هستید؟
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn-link" style="text-decoration:none;">ثبت نام</a>
                        کنید
                        </p>
                    </div>
                </form>
            </section>
        </div>

    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>
</html>
