<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DigitalShoppingTakkala</title>
    <style>
        #div2 a:hover {
            color: darkblue;
        }
    </style>


    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <environment>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <header>
        <div dir="rtl" class="container" >

            <form style="width: 70%; padding-top: 15px;">
                <div class="form-group">
                    <input style="font-family:'B Yekan';" class="form-control  text-dark bg-light " type="text" placeholder="جست و جو کنید..."
                           aria-label="Search">
                </div>


            </form>



        </div>



        <nav class="navbar navbar-fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-4" style="font-family:'B Yekan;"  data-spy="affix" data-offset-top="197" >


            <div class="container" dir="rtl" style="font-family:'B Yekan';">

                <a class="navbar-brand text-danger " style="font-size:30px;margin-right:-10%;" asp-area="" asp-controller="Home" asp-action="Index"><i>Takkala</i></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item dropdown text-dark">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-mobile" aria-hidden="true"></i>

                                موبایل

                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="text-align:right;" id="div2">
                                <a class="dropdown-item " asp-controller="Product" asp-action="GetAllBySGID" asp-route-id="1">

                                    موبایل و تبلت
                                </a>


                                <a class="dropdown-item " asp-controller="Product" asp-action="GetAllBySGID" asp-route-id="2">

                                    شارژر
                                </a>
                                <a class="dropdown-item " asp-controller="Product" asp-action="GetAllBySGID" asp-route-id="3">

                                    هدست
                                </a>
                                <a class="dropdown-item " asp-controller="Product" asp-action="GetAllBySGID" asp-route-id="5">

                                    پاوربانک
                                </a>
                                </div>
</li>

                        <li class="nav-item dropdown text-dark">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-laptop" aria-hidden="true"></i>

                                لپ تاپ

                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" style="text-align:right;" id="div2">
                                <a class="dropdown-item " asp-controller="Product" asp-action="GetAllBySGID" asp-route-id="6">

                                    لپ تاپ و All in One
                                </a>


                                <a class="dropdown-item " asp-controller="Product" asp-action="GetAllBySGID" asp-route-id="7">

                                    شارژر
                                </a>
                                <a class="dropdown-item " asp-controller="Product" asp-action="GetAllBySGID" asp-route-id="8">

                                    ماوس
                                </a>
                                </div>
</li>
                        <li class="nav-item dropdown text-dark">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-television" aria-hidden="true"></i>

                                تلویزیون

                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3" style="text-align:right;" id="div2">
                                <a class="dropdown-item " asp-controller="Product" asp-action="GetAllBySGID" asp-route-id="9">

                                    تلویزیون و نمایشگر
                                </a>


                                <a class="dropdown-item " asp-controller="Product" asp-action="GetAllBySGID" asp-route-id="10">

                                    سینمای خانواده
                                </a>
                                <a class="dropdown-item " asp-controller="Product" asp-action="GetAllBySGID" asp-route-id="11">

                                    پخش کننده صوتی و تصویری
                                </a>
                                </div>

</li>
                      
                        <li style="border-left:1px dotted gray;padding-right:15px;"></li>
                        <li class="nav-item  text-dark" style="padding-right:35px;">

                            <a class="nav-link  text-dark" asp-controller="Order" asp-action="ShowOrder" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-shopping-basket" aria-hidden="true" style="font-size:20px;"></i>
                                @await Component.InvokeAsync("CardComponent")



                            </a>
                        </li>
                    </ul>




                </div>


            </div>


        </nav>


    </header>
    <div >
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3" >
           
            
            <div class="col-md-12">
                @RenderBody()
            </div>

        </main>
    </div>
    <br/>

    

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
       
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
