@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DigitalShoppingTakkala</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <environment include="Development">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <ul class="navbar-nav " style="margin-left:-50px;">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item" style="margin-left:14px;">
                <a class="nav-link text-secondary" style="font-family:'B Yekan';font-size:18px;font-weight:bold;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @User.Identity.Name </a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="btn btn-outline-secondary" style="font-family:'B Yekan';">
                        <i class="fa fa-power-off "></i>

                        خروج از حساب کاربری
                    </button>
                </form>
            </li>
        }
        else
        {
            
    <button type="button" class="btn btn-outline-secondary">
        <li class="nav-item">
            <a class="nav-link " asp-area="Identity" asp-page="/Account/Login">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                ورود به حساب کاربری
            </a>
        </li>
    </button>
        }
    </ul>
    </body>
</html>