@using System.Security.Claims
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach(var item in Model)
    {
        if (item.Price < 11000000)
        {
        <p>@item.ProductName</p>
        <img src="~/Images/@item.ImageName" />
        }
    }

</div>
