
@{
    ViewData["Title"] = "OnlinePayment";
}
    <div style="text-align:center;font-family:IRANYekan,sans-serif;" dir="rtl">
        <h1>نتیجه پرداخت</h1>
        <hr />
        <div class="alert alert-success">
            <h2>با تشکر از پرداخت غیر حضوری شما</h2>
            <p>کد پیگیری شما : @ViewBag.code</p>
        </div>
        <a style="text-align:center;font-family:IRANYekan,sans-serif;" class="btn btn-outline-info" asp-controller="Home" asp-action="index">بازگشت به صفحه اصلی</a>
    </div>



