
@{
    ViewData["Title"] = "CustomerServices";
}

<h1 style="font-family:IRANYekan,sans-serif;text-align:center;">بخش خدمات مشتریان</h1>

<div class="container">
    <h4 style="font-family:IRANYekan,sans-serif;text-align:center;">
        مشتریان محترم می توانند کالاهایی که ارسال آن ها اشتباه بوده و یا دارای زدگی و ایراد می باشند را به فروشگاه
        عودت دهند.
    </h4>

</div>
