
@{
    ViewData["Title"] = "CustomerQuestions";
}

    <h1 style="text-align:center;font-family:IRANYekan,sans-serif;">پاسخ به پرسش های متداول</h1>
    <div class="container" dir="rtl" style="text-align:right;">
        <div style="font-family:IRANYekan,sans-serif;">سوال 1</div>
        <div style="font-family:IRANYekan,sans-serif;">نحوه پرداخت چگونه است؟</div>
        <div style="font-family:IRANYekan,sans-serif;">نحوه پرداخت به صورت الکترونیکی فعلا موجود است</div>
        <br />
        <div style="font-family:IRANYekan,sans-serif;">سوال 2</div>
        <div style="font-family:IRANYekan,sans-serif;">سفارش چند روز بدست مشتری می رسد؟</div>
        <div style="font-family:IRANYekan,sans-serif;">سفارش ها معمولا طی 2 روز کاری به مشتری می رسند</div>
    </div>

