
@{
    ViewData["Title"] = "Offers";
}

<h1 style="font-family:IRANYekan,sans-serif;text-align:center;">انقادات و پیشنهادات</h1>

<div style="font-family:IRANYekan,sans-serif;text-align:center;">
    مشتریان محترم میتوانید انتقادات و پیشنهادات خود را به ایمیل
    mohamadrezafathibesharat@gmail.com 
    بفرستید.
</div>

